@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


*{
  margin: 0%;
  padding: 0%;
}

body{
  background-color: aliceblue;
}






body{
  height: 100%;
}



.container{
  float:left;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-left: 100px;
  margin-top: 80px;
}



.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  width: 460px;
	height: 430px;
	background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

.mask{
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
}

img{
  width: 460px;
  }

.h1{
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;
  
  font-family: 'Merriweather', serif;
  font-size: 24px;
}
p{
 text-align: justify; 
 padding-left: 30px;
 padding-right: 30px;
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 color: #C8C8C8;
 line-height: 18px;
}

.button {
    background-color: #3EDD84;
    color: white;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'merriweather';
}



.nav{
  display: block;
  float: right;
  width: 40px;
  height: 90px;
}



.complete h1{
  color: black;
  font-size: 180%;
  position: absolute;
  padding-left: 100%;
  margin-bottom: 60px;
}

.complete h1:before{
  content: "Chalo Rider";
  position: absolute;
  top: 0;
  left: 30;
  width: 0;
  height: 100%;
  overflow: hidden;
  color: deeppink;
  animation: load 4s linear infinite;
}
.complete h1{
  margin-top: 40px;
  padding-left: 30px;
  margin-bottom: 150px;
}
@keyframes load{
  0%, 10%, 100%{
    width: 0;
  }
  60%, 80%{
    width: 100%;
  }
}


ul li{
  list-style: none;
  padding-right:50px ;
  padding-top: 38px;
  
  font-size: 30px;
  font-style: italic;
}
ul{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li a{
  text-decoration: none;

}
ul li a:hover{
  color: deeppink;
}

.button1 {
  min-width: 100px;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button1::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button1:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button1:hover::before, .button1:focus::before {
  opacity: 1;
}

.button1::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button1:hover::after, .button1:focus::after {
  animation: none;
  display: none;
}

